.visually-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

.title {
	font-family: $fPlayfair;
	font-weight: 700;
	font-size: rem(36);
	line-height: rem(48);
	color: $ctitle;
	text-align: left;
}