// -----------------------------------------------------------------------------
// Color variables
// -----------------------------------------------------------------------------

$cmaincolor: #42b983;
$cmaintext: #FFFFFF; 
$ctitle: #D4C17F;
$cnote: #E7E7E7;
$cbackground: #242B33;

// -----------------------------------------------------------------------------
// Fonts variables
// -----------------------------------------------------------------------------
$fRaleway: 'Raleway';
$fPlayfair: 'Playfair Display';
$fRoboto: 'Roboto';
$fPostNoBillsJaffna-SemiBold:'PostNoBillsJaffna-SemiBold'